[Desktop Entry]
Name=ArchGreenLiquid
X-KDE-PluginInfo-Name=ArchGreenLiquid
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
