[Desktop Entry]
Name=Amethyst
X-KDE-PluginInfo-Name=Amethyst
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
